<header>
  <div class="operations">
    <button><div (click)="add('M')" class = "button-text">+M</div></button>
    <button><div (click)="add('Q')" class = "button-text">+Q</div></button>
    <button><div (click) = "addArrow()" class = "button-text">↗</div></button>
    <button><div class = "button-text">▶</div></button>
    <button><div class = "button-text">◼</div></button>
    <button><div class = "button-text">⟲</div></button>
    <button><div (click)="clearAll()" class = "button-text">C</div></button>
  </div>

</header>
<section>
  <div id="container"></div>
</section>


